html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2c3424;
  height: 100vh;

}
    
.left-side, .right-side {
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #DADED8;

}

.left-side {
  background: #2c3424;
  align-items: center;
  padding: 20px;
  height: auto;
  transform: translateY(-40px);
}

.left-side h1 {
  font-size: 50px;
  max-width: 80%;
  text-align: center;
}

.left-side h2 {
  margin-top: auto; 
  text-align: center;
}

.signup-btn {
  background: transparent;
  border: 2px solid#DADED8;
  color: #DADED8;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 50px;
  padding: 12px 20px;
  font-size: 15px;
}
  
.signup-btn:hover {
  background: #DADED8;
  color: #2c3424;
}
  
.right-side {
  background: #4c583e;
  padding: 40px;
  height: 100%; 
}

.right-side h1{
  transform: translateY(-80px);
  font-size: 50px;
}
 
.right-side h5{
  transform: translateY(-100px);
  margin-bottom: 50px;
}
  
.login-box {
  width: 70%;
}
  
.input-group {
  margin-bottom: 25px;
  transform: translateY(-100px);
}
  
.input-group label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
  
.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #DADED8;
  border-radius: 5px;
  background-color: transparent;
  color: #DADED8;
  margin-bottom: 15px;
}

.login-btn {
  background: transparent;
  border: 2px solid#DADED8;
  color: #DADED8;
  border-radius: 20px;
  cursor: pointer;
  padding: 12px 20px;
  font-size: 15px;
  transform: translateY(-97px);
}
  
.login-btn:hover {
  background: #DADED8;
  color: #2c3424;
}
   
.logo {
  position: absolute;
  top: 10px;  
  left: 10px; 
  width: 5%;
  height: 10%;
}

@media (max-width: 1000px) { 
  .logo {
      display: none;
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 50px; 
  position: relative; 
  margin-top: 25px;
}

.error {
  font-size: 14px;
  margin-top: 5px;
  font-weight: bold;
  opacity: 0;
  position: absolute;
}

.error.visible {
  opacity: 1;
}

.error.hidden {
  opacity: 0;
}
